# This is the master switch for selecting the LLM provider
LLM_PROVIDER="DEEPSEEK_CHAT"

# CHATGPT
CHATGPT_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CHATGPT_MODEL="gpt-4.1"
CHATGPT_BASE_URL="https://api.openai.com/v1"

# CLAUDE
CLAUDE_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
CLAUDE_MODEL="claude-4"
CLAUDE_BASE_URL="https://api.anthropic.com/v1"

# GEMINI
GEMINI_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GEMINI_MODEL="gemini-2.5-pro"
GEMINI_BASE_URL="https://generativelanguage.googleapis.com/v1beta"

# DEEPSEEK_CHAT
DEEPSEEK_CHAT_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
DEEPSEEK_CHAT_MODEL="deepseek-chat"
DEEPSEEK_CHAT_BASE_URL="https://api.deepseek.com/v1"

# DEEPSEEK_REASONER
DEEPSEEK_REASONER_API_KEY="sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
DEEPSEEK_REASONER_MODEL="deepseek-reasoner"
DEEPSEEK_REASONER_BASE_URL="https://api.deepseek.com/v1"

# CHROMA DB
DB_PATH="./chroma_db"

# EMBEDDING MODELS
EMBEDDING_MODEL="BAAI/bge-m3"

# COLLECTION_NAME
COLLECTION_NAME="mof_synthesis_data"

# DATA SOURCE
PAPERS_DIR="./data/papers"